<div id="my-expansion-panel">
  <div id="my-expansion-panel-header">
      <h2>Here are some links to help you start: </h2>
      <button (click)="Scorri()">Toggle</button>
      <button (click)="Rimuovi()">Rimuovi</button>
  </div>

  <div  id="my-expansion-panel-content">
    <table border="1">
      <tr *ngFor="let comm of commenti">
        <td [@apri]="current"> {{comm}}</td>
      </tr>
    </table>
  </div>
  
</div>